# Perf
[mysqld]
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
max_connections=1000

# Charset
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
