**/*.svg
.husky/*
package.json
dist
build
.env.*
.dockerignore
nginx.conf
.DS_Store
.eslintignore
.commitlintrc
*.yaml
*.bak
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
.history/*
*.txt
*.ico
.gitkeep
*.jpeg
*.jpg
/coverage
package-lock.json
tsconfig.json
.gitmodules
refresh_submodule.sh
.idea
*.gif
*.py
*.pyc
.npmrc
.yarnrc
.env
