@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0d53de;
}

.menu :where(li ul):before {
  display: none!important;
}

body {
  margin: 0;
}

.prose h1, .prose  h2, .prose h3 {
  color: #121316 !important;
}

.prose :where(thead th):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: rgb(18 19 22 / 80%) !important;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: rgb(18 19 22 / 80%) !important;
}

a {
  color: rgb(18 19 22 / 80%);
}

.menu li {
  color: rgb(18 19 22 / 80%);
}

.prose p {
  color: rgb(18 19 22 / 80%) !important;
}

.prose {
  max-width: 90ch !important;
  color: rgb(18 19 22 / 80%) !important;
}

.prose pre {
  padding: 0;
  background: transparent;
  border: 1px solid #ebebeb;
  color: inherit !important;
}

.prose pre > div {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
