@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.prose pre {
  max-height: 40rem;
  overflow: auto;
}

.prose pre > div {
  background: none !important;
  color: inherit !important;
}

.prose img, .prose video {
  box-shadow: 0px 3px 20px #00000038;
  border-radius: 0.375rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
