@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.prose pre {
  padding: 0;
  background: transparent;
  border: 1px solid #ebebeb;
  color: inherit !important;
}

.prose pre > div {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
