@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --header-height: 56px;

  --blue: #1677ff;
  --purple: #722ed1;
  --cyan: #13c2c2;
  --green: #52c41a;
  --magenta: #eb2f96;
  --pink: #eb2f96;
  --red: #f5222d;
  --orange: #fa8c16;
  --yellow: #fadb14;
  --volcano: #fa541c;
  --geekblue: #2f54eb;
  --gold: #faad14;
  --lime: #a0d911;
  --color-primary: #0d53de;
  --color-success: #00b365;
  --color-warning: #ff8800;
  --color-error: #f5483b;
  --color-info: #0d53de;
  --color-link: #1677ff;
  --color-text-base: #121316;
  --color-bg-base: #fff;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-size: 14px;
  --line-width: 1;
  --line-type: solid;
  --motion-unit: 0.1;
  --motion-base: 0;
  --motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --border-radius: 2px;
  --size-unit: 4px;
  --size-step: 4px;
  --size-popup-arrow: 16px;
  --control-height: 32px;
  --z-index-base: 0;
  --z-index-popup-base: 1000;
  --opacity-image: 1;
  --wireframe: false;
  --motion: true;
  --blue-1: #e6f4ff;
  --blue1: #e6f4ff;
  --blue-2: #bae0ff;
  --blue2: #bae0ff;
  --blue-3: #91caff;
  --blue3: #91caff;
  --blue-4: #69b1ff;
  --blue4: #69b1ff;
  --blue-5: #4096ff;
  --blue5: #4096ff;
  --blue-6: #1677ff;
  --blue6: #1677ff;
  --blue-7: #0958d9;
  --blue7: #0958d9;
  --blue-8: #003eb3;
  --blue8: #003eb3;
  --blue-9: #002c8c;
  --blue9: #002c8c;
  --blue-10: #001d66;
  --blue10: #001d66;
  --purple-1: #f9f0ff;
  --purple1: #f9f0ff;
  --purple-2: #efdbff;
  --purple2: #efdbff;
  --purple-3: #d3adf7;
  --purple3: #d3adf7;
  --purple-4: #b37feb;
  --purple4: #b37feb;
  --purple-5: #9254de;
  --purple5: #9254de;
  --purple-6: #722ed1;
  --purple6: #722ed1;
  --purple-7: #531dab;
  --purple7: #531dab;
  --purple-8: #391085;
  --purple8: #391085;
  --purple-9: #22075e;
  --purple9: #22075e;
  --purple-10: #120338;
  --purple10: #120338;
  --cyan-1: #e6fffb;
  --cyan1: #e6fffb;
  --cyan-2: #b5f5ec;
  --cyan2: #b5f5ec;
  --cyan-3: #87e8de;
  --cyan3: #87e8de;
  --cyan-4: #5cdbd3;
  --cyan4: #5cdbd3;
  --cyan-5: #36cfc9;
  --cyan5: #36cfc9;
  --cyan-6: #13c2c2;
  --cyan6: #13c2c2;
  --cyan-7: #08979c;
  --cyan7: #08979c;
  --cyan-8: #006d75;
  --cyan8: #006d75;
  --cyan-9: #00474f;
  --cyan9: #00474f;
  --cyan-10: #002329;
  --cyan10: #002329;
  --green-1: #f6ffed;
  --green1: #f6ffed;
  --green-2: #d9f7be;
  --green2: #d9f7be;
  --green-3: #b7eb8f;
  --green3: #b7eb8f;
  --green-4: #95de64;
  --green4: #95de64;
  --green-5: #73d13d;
  --green5: #73d13d;
  --green-6: #52c41a;
  --green6: #52c41a;
  --green-7: #389e0d;
  --green7: #389e0d;
  --green-8: #237804;
  --green8: #237804;
  --green-9: #135200;
  --green9: #135200;
  --green-10: #092b00;
  --green10: #092b00;
  --magenta-1: #fff0f6;
  --magenta1: #fff0f6;
  --magenta-2: #ffd6e7;
  --magenta2: #ffd6e7;
  --magenta-3: #ffadd2;
  --magenta3: #ffadd2;
  --magenta-4: #ff85c0;
  --magenta4: #ff85c0;
  --magenta-5: #f759ab;
  --magenta5: #f759ab;
  --magenta-6: #eb2f96;
  --magenta6: #eb2f96;
  --magenta-7: #c41d7f;
  --magenta7: #c41d7f;
  --magenta-8: #9e1068;
  --magenta8: #9e1068;
  --magenta-9: #780650;
  --magenta9: #780650;
  --magenta-10: #520339;
  --magenta10: #520339;
  --pink-1: #fff0f6;
  --pink1: #fff0f6;
  --pink-2: #ffd6e7;
  --pink2: #ffd6e7;
  --pink-3: #ffadd2;
  --pink3: #ffadd2;
  --pink-4: #ff85c0;
  --pink4: #ff85c0;
  --pink-5: #f759ab;
  --pink5: #f759ab;
  --pink-6: #eb2f96;
  --pink6: #eb2f96;
  --pink-7: #c41d7f;
  --pink7: #c41d7f;
  --pink-8: #9e1068;
  --pink8: #9e1068;
  --pink-9: #780650;
  --pink9: #780650;
  --pink-10: #520339;
  --pink10: #520339;
  --red-1: #fff1f0;
  --red1: #fff1f0;
  --red-2: #ffccc7;
  --red2: #ffccc7;
  --red-3: #ffa39e;
  --red3: #ffa39e;
  --red-4: #ff7875;
  --red4: #ff7875;
  --red-5: #ff4d4f;
  --red5: #ff4d4f;
  --red-6: #f5222d;
  --red6: #f5222d;
  --red-7: #cf1322;
  --red7: #cf1322;
  --red-8: #a8071a;
  --red8: #a8071a;
  --red-9: #820014;
  --red9: #820014;
  --red-10: #5c0011;
  --red10: #5c0011;
  --orange-1: #fff7e6;
  --orange1: #fff7e6;
  --orange-2: #ffe7ba;
  --orange2: #ffe7ba;
  --orange-3: #ffd591;
  --orange3: #ffd591;
  --orange-4: #ffc069;
  --orange4: #ffc069;
  --orange-5: #ffa940;
  --orange5: #ffa940;
  --orange-6: #fa8c16;
  --orange6: #fa8c16;
  --orange-7: #d46b08;
  --orange7: #d46b08;
  --orange-8: #ad4e00;
  --orange8: #ad4e00;
  --orange-9: #873800;
  --orange9: #873800;
  --orange-10: #612500;
  --orange10: #612500;
  --yellow-1: #feffe6;
  --yellow1: #feffe6;
  --yellow-2: #ffffb8;
  --yellow2: #ffffb8;
  --yellow-3: #fffb8f;
  --yellow3: #fffb8f;
  --yellow-4: #fff566;
  --yellow4: #fff566;
  --yellow-5: #ffec3d;
  --yellow5: #ffec3d;
  --yellow-6: #fadb14;
  --yellow6: #fadb14;
  --yellow-7: #d4b106;
  --yellow7: #d4b106;
  --yellow-8: #ad8b00;
  --yellow8: #ad8b00;
  --yellow-9: #876800;
  --yellow9: #876800;
  --yellow-10: #614700;
  --yellow10: #614700;
  --volcano-1: #fff2e8;
  --volcano1: #fff2e8;
  --volcano-2: #ffd8bf;
  --volcano2: #ffd8bf;
  --volcano-3: #ffbb96;
  --volcano3: #ffbb96;
  --volcano-4: #ff9c6e;
  --volcano4: #ff9c6e;
  --volcano-5: #ff7a45;
  --volcano5: #ff7a45;
  --volcano-6: #fa541c;
  --volcano6: #fa541c;
  --volcano-7: #d4380d;
  --volcano7: #d4380d;
  --volcano-8: #ad2102;
  --volcano8: #ad2102;
  --volcano-9: #871400;
  --volcano9: #871400;
  --volcano-10: #610b00;
  --volcano10: #610b00;
  --geekblue-1: #f0f5ff;
  --geekblue1: #f0f5ff;
  --geekblue-2: #d6e4ff;
  --geekblue2: #d6e4ff;
  --geekblue-3: #adc6ff;
  --geekblue3: #adc6ff;
  --geekblue-4: #85a5ff;
  --geekblue4: #85a5ff;
  --geekblue-5: #597ef7;
  --geekblue5: #597ef7;
  --geekblue-6: #2f54eb;
  --geekblue6: #2f54eb;
  --geekblue-7: #1d39c4;
  --geekblue7: #1d39c4;
  --geekblue-8: #10239e;
  --geekblue8: #10239e;
  --geekblue-9: #061178;
  --geekblue9: #061178;
  --geekblue-10: #030852;
  --geekblue10: #030852;
  --gold-1: #fffbe6;
  --gold1: #fffbe6;
  --gold-2: #fff1b8;
  --gold2: #fff1b8;
  --gold-3: #ffe58f;
  --gold3: #ffe58f;
  --gold-4: #ffd666;
  --gold4: #ffd666;
  --gold-5: #ffc53d;
  --gold5: #ffc53d;
  --gold-6: #faad14;
  --gold6: #faad14;
  --gold-7: #d48806;
  --gold7: #d48806;
  --gold-8: #ad6800;
  --gold8: #ad6800;
  --gold-9: #874d00;
  --gold9: #874d00;
  --gold-10: #613400;
  --gold10: #613400;
  --lime-1: #fcffe6;
  --lime1: #fcffe6;
  --lime-2: #f4ffb8;
  --lime2: #f4ffb8;
  --lime-3: #eaff8f;
  --lime3: #eaff8f;
  --lime-4: #d3f261;
  --lime4: #d3f261;
  --lime-5: #bae637;
  --lime5: #bae637;
  --lime-6: #a0d911;
  --lime6: #a0d911;
  --lime-7: #7cb305;
  --lime7: #7cb305;
  --lime-8: #5b8c00;
  --lime8: #5b8c00;
  --lime-9: #3f6600;
  --lime9: #3f6600;
  --lime-10: #254000;
  --lime10: #254000;
  --color-text: rgba(18, 19, 22, 0.8);
  --color-text-secondary: rgba(18, 19, 22, 0.5);
  --color-text-tertiary: rgba(18, 19, 22, 0.25);
  --color-text-quaternary: rgba(18, 19, 22, 0.2);
  --color-fill: rgba(0, 0, 0, 0.15);
  --color-fill-secondary: rgba(0, 0, 0, 0.06);
  --color-fill-tertiary: rgba(0, 0, 0, 0.04);
  --color-fill-quaternary: rgba(0, 0, 0, 0.02);
  --color-bg-layout: #f5f5f5;
  --color-bg-container: #ffffff;
  --color-bg-elevated: #ffffff;
  --color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --color-bg-blur: transparent;
  --color-border: #d7d8dd;
  --color-border-secondary: #ebecf0;
  --color-primary-bg: #e6f2ff;
  --color-primary-bg-hover: #bae0ff;
  --color-primary-border: #91caff;
  --color-primary-border-hover: #69b1ff;
  --color-primary-hover: #3477eb;
  --color-primary-active: #0238b8;
  --color-primary-text-hover: #4096ff;
  --color-primary-text: #1677ff;
  --color-primary-text-active: #0958d9;
  --color-success-bg: #daf2e4;
  --color-success-bg-hover: #d9f7be;
  --color-success-border: #b7eb8f;
  --color-success-border-hover: #95de64;
  --color-success-hover: #1fbf74;
  --color-success-active: #008c54;
  --color-success-text-hover: #73d13d;
  --color-success-text: #52c41a;
  --color-success-text-active: #389e0d;
  --color-error-bg: #fff2f0;
  --color-error-bg-hover: #fff1f0;
  --color-error-border: #ffccc7;
  --color-error-border-hover: #ffa39e;
  --color-error-hover: #ff7875;
  --color-error-active: #cf2d27;
  --color-error-text-hover: #ff7875;
  --color-error-text: #ff4d4f;
  --color-error-text-active: #d9363e;
  --color-warning-bg: #fff7e6;
  --color-warning-bg-hover: #fff1b8;
  --color-warning-border: #ffe58f;
  --color-warning-border-hover: #ffd666;
  --color-warning-hover: #ffd666;
  --color-warning-active: #d96c00;
  --color-warning-text-hover: #ffc53d;
  --color-warning-text: #faad14;
  --color-warning-text-active: #d48806;
  --color-info-bg: #e6f4ff;
  --color-info-bg-hover: #bae0ff;
  --color-info-border: #91caff;
  --color-info-border-hover: #69b1ff;
  --color-info-hover: #69b1ff;
  --color-info-active: #0958d9;
  --color-info-text-hover: #4096ff;
  --color-info-text: #1677ff;
  --color-info-text-active: #0958d9;
  --color-link-hover: #69b1ff;
  --color-link-active: #0958d9;
  --color-bg-mask: rgba(0, 0, 0, 0.45);
  --color-white: #fff;
  --font-size-sm: 12px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-heading1: 38px;
  --font-size-heading2: 30px;
  --font-size-heading3: 24px;
  --font-size-heading4: 20px;
  --font-size-heading5: 16px;
  --line-height: 1.57;
  --line-height-lg: 1.5;
  --line-height-sm: 1.67;
  --line-height-heading1: 1.21;
  --line-height-heading2: 1.27;
  --line-height-heading3: 1.33;
  --line-height-heading4: 1.4;
  --line-height-heading5: 1.5;
  --size-xxl: 48px;
  --size-xl: 32px;
  --size-lg: 24px;
  --size-md: 20px;
  --size-ms: 16px;
  --size: 16px;
  --size-sm: 12px;
  --size-xs: 8px;
  --size-xxs: 4px;
  --control-height-sm: 24px;
  --control-height-xs: 16px;
  --control-height-lg: 40px;
  --motion-duration-fast: 0.1s;
  --motion-duration-mid: 0.2s;
  --motion-duration-slow: 0.3s;
  --line-width-bold: 2px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-lg: 4px;
  --border-radius-outer: 4px;
  --box-shadow: 0 8px 26px 0 rgba(18, 19, 22, 0.12), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --box-shadow-secondary: 0 4px 12px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

a,
a:hover {
  @apply text-primary;
}
